#!/usr/bin/make -f

# Debian rules for custom opensbi build
#
# This software is a part of ISAR.
# Copyright (c) Siemens AG, 2018
#
# SPDX-License-Identifier: MIT
export DH_VERBOSE=1
ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
export CROSS_COMPILE=$(DEB_HOST_GNU_TYPE)-
endif

PARALLEL_BUILD=-j $(shell echo $$(($$(nproc) * 2)))

override_dh_auto_configure:

override_dh_auto_build:
	$(MAKE) $(PARALLEL_BUILD) PLAT=$(ATF_PLATFORM) DEBUG=1 $(ATF_TARGET)

override_dh_auto_test:

%:
	dh $@ --parallel
